<section class="prompt">
	<section class="home">
		<div class="row p-1">
			<a
				class="btn btn-danger"
				href="/login"
				>Login</a
			>
		</div>
		<div class="row p-1">
			<a
				class="btn btn-danger"
				href="/signup"
				>Sign up</a
			>
		</div>
		<hr />
		<form
			action="/logout"
			method="post"
			class="form-control-lg">
			<button
				class="btn btn-danger"
				type="submit">
				Sign out
			</button>
		</form>
	</section>
</section>
