<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  </head>
  <body>
    <div class="flexContainer">
      <div id="game-container">
        <div id="moving-object"></div>
        <div id="center-assets">
          <%- include('./partials/bike.ejs') %>
          <!-- Other assets in the center -->
        </div>
      </div>
    </div>
  </body>
  <script src="/js/index.js"></script>
</html>
